@model AppProject.Models.ConectTable

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>ConectTable</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="DetailsId" />
        <div class="form-group">
            <label asp-for="ProductesId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="ProductesId" class="form-control" asp-items="ViewBag.ProductesId"></select>
                <span asp-validation-for="ProductesId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SizeId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="SizeId" class="form-control" asp-items="ViewBag.SizeId"></select>
                <span asp-validation-for="SizeId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ColorId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="ColorId" class="form-control" asp-items="ViewBag.ColorId"></select>
                <span asp-validation-for="ColorId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MartId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="MartId" class="form-control" asp-items="ViewBag.MartId"></select>
                <span asp-validation-for="MartId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
