@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Graph";
}

<h2>@ViewData["Title"]</h2>
<div class="chart"></div> 
<a asp-action="Index" asp-controller="Home">Back to Shop</a>

@section Scripts
    {

    <script>
    var data = @ViewBag.data;
    </script>

    <script src="~/js/ProductsCount.js"></script>
}

