@{
    ViewData["Title"] = "Home Page";
}

<body>
    @*//לוגו*@
    <header>
        <nav id="MainNavigation" class="navbar">
            <div id="Categories" class="Content MainNavigation container">

            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row mb-5">
            <aside class="col-md-3 order-2 mb-5 mb-md-0">
                <div class="border p-4 rounded mb-4">
                    <div class="mb-4">
                        <h3 class="mb-3 h6 text-uppercase text-black d-block">Filter by Price</h3>
                        <div id="slider-range" class="border-primary"></div>
                        <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled="" />
                    </div>
                    <div id="Size" class="mb-4">

                    </div>
                    <div id="Color" class="mb-4">

                    </div>
                </div>
            </aside>

            <section id="Product" class="col-md-9 order-1"></section>
        </div>
    </div>


</body>

@section Scripts{
    <script src="~/js/Home.js"></script>

}
