@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/aos.css">
</head>

<body onload="myFunction()" style="margin:0;" >
    <div id="loader"></div>
    @*1*@
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>           
            </div>
            <div class="navbar-collapse collapse topnav">
                <ul class="nav navbar-nav">
                    <li id="Account"><a asp-action="LogIn" asp-controller="Customers">כניסה</a></li>
                    <li id="Account"><a asp-action="Create" asp-controller="Customers">רישום</a></li>
                    <li id="ShoppingCart"><a asp-action="Index" asp-controller="Quantities">עגלה שלי</a></li>
                </ul>
                @*search*@
                <div class="search-container">
                    <form class="navbar-form navbar-left" id="myform" asp-action="Search" asp-controller="Productes">
                        <div class="input-group">
                            @*<div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>*@

                            <input type="text" name="name" id="name" placeholder="Search..">
                            @*<button type="submit">sub</button>*@
                        </div>
                    </form>
                    @*search*@

                    @*fix size*@
                    @*<div class="navbar-brand">
                        <img class="logo" src="~/imagesweb/logo.jpg" />
                    </div>*@
                </div>
            </div>
        </div>

    </nav>
    <br /><br />
    @*2*@
    <nav id="MainNavigation" class="navbar my-bg">
        <div id="Categories" class="Content MainNavigation navbar-inverse">
        </div>
    </nav>

    <div style="display:none;" id="myDiv" class="animate-bottom">
        <header>
            @if (ViewBag.ConnectClient)
            {
                @foreach (var CustomerId in ViewBag.CustomerId)
                {
                    <h4 style="float:right;">היי @CustomerId</h4>
                }
            }

            @*<img class="logo" src="~/imagesweb/logo.jpg" />

                <form id="myform" asp-action="Search" asp-controller="Productes">
                    <input type="text" name="name" id="name" placeholder="Search..">
                </form>
            *@

        </header>
        @* // *@

        @if (ViewBag.ConnectManager)
        {

            <div>
                <ul>
                    <li><a asp-action="List" asp-controller="Categories">עריכת מחלקת קטגוריות</a></li>
                    <li> <a asp-action="List" asp-controller="SubCategories">עריכת מחלקת תת קטגוריה</a></li>
                    <li> <a asp-action="List" asp-controller="Productes">עריכת מחלקת מוצרים</a></li>
                    <li> <a asp-action="List" asp-controller="Sizes">עריכת מחלקת מידות</a></li>
                    <li> <a asp-action="List" asp-controller="Colors">עריכת מחלקת צבעים</a></li>
                    <li> <a asp-action="List" asp-controller="ConnectTables">עריכת מחלקת מלאי</a></li>
                </ul>
            </div>
        }

        <div class="container">
            <div class="row mb-5">
                <aside class="border p-4 rounded mb-4">
                    <div class="mb-4">
                        <h3 class="mb-3 h6 text-uppercase text-black d-block shadow">Filter by Price</h3>
                        <div id="slider-range"></div>
                        <input type="text" name="text" id="amount" />
                    </div>
                    <div id="Size" class="mb-4">
                    </div>
                    <div id="Color" class="mb-4">
                    </div>
                </aside>
                <div class="row align">
                    <div class="col-md-12 mb-5">
                        <div class="d-flex">
                            <div class="btn-group show">
                                <button class="btn btn-white btn-sm dropdown-toggle px-4" id="dropdownMenuReference" aria-expanded="true" type="button" data-toggle="dropdown">Reference</button>
                                <div class="dropdown-menu hide" aria-labelledby="dropdownMenuReference" x-placement="bottom-start">
                                    <a class="dropdown-item">Price, low to high</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <section id="Product" class="col-md-9"></section>
            </div>
        </div>
        <footer>
            <div class="newspaper">
                <iframe class="embed-responsive-item" src="~/imagesweb/Video.mp4"></iframe>
                <div class="column"><a asp-action="API">המרה של מטבע בין דולר לשקל</a></div>
                <div class="column"><a asp-action="Graph">גרף</a></div>
                <div class="column"><a asp-action="Graph1">1גרף</a></div>
                <div class="column"><a asp-action="Map">מפה</a></div>
            </div>
        </footer>
    </div>
</body>
</html>

@section Scripts{
    <script src="~/js/loader.js"></script>
    <script src="~/js/HeaderLoad.js"></script>
    <script src="~/js/Home.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/main.js"></script>
}