@model AppProject.Models.Quantities

@{
    ViewData["Title"] = "Add";
}

<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/aos.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <form asp-action="Add">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @foreach (var PId in ViewBag.ProductId)
        {

            <input hidden="hidden" type="text" asp-for="ProductesId" class="form-control" value="@PId.Id" />

            <div class="container">
                <div class="row">

                    <div class="col-md-4">
                        <figure>
                            <img class="product-big-img" src="~/imagesweb/@PId.ImgId" alt="">
                        </figure>
                    </div>

                    <div class="col-md-6">
                        <div class="product-content">
                            <h2 class="shadow-or">@PId.ProductName</h2>
                            <div class="pc-meta">
                                <h4 class="price">price:@PId.Price$</h4>
                            </div>

                            <div class="input-group">
                                <span class="txt-clr">Colors</span>
                                <span class="input-group-prepend">
                                    <select asp-for="ColorId" class="form-control" asp-items="ViewBag.ColorId"></select>
                                </span>
                            </div>

                            <div class="input-group">
                                <span class="txt-clr">Sizes</span>
                                <span class="input-group-prepend">
                                    <select asp-for="SizeId" class="form-control" asp-items="ViewBag.SizeId"></select>
                                </span>
                            </div>

                            <div class="mb-5">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <input id="Amout" asp-for="AmountOfOrders" min="1" max="9" class="form-control" />

                                    </div>

                                </div>
                            </div>

                            <div class="input-group">
                                @foreach (var MartId in ViewBag.MartId)
                                {
                                    <input hidden="hidden" type="text" asp-for="MartId" class="form-control" value="@MartId" />

                                }

                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Add To Mart" class="btn btn-default" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }
    </form>

    @*<div>
            <a asp-action="Index" asp-controller="ConnectTables">Back to List</a>
        </div>*@
</body>
</html>

