@model AppProject.Models.ConnectTable

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>ConnectTable</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ProductesId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ProductesId" class ="form-control" asp-items="ViewBag.ProductesId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SizeId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="SizeId" class ="form-control" asp-items="ViewBag.SizeId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ColorId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ColorId" class ="form-control" asp-items="ViewBag.ColorId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AmountInStock" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AmountInStock" class="form-control" />
                <span asp-validation-for="AmountInStock" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="List">Back to List</a>
</div>

