@model IEnumerable<AppProject.ViewModel.ProductByColorSizeVM>

@{
    ViewData["Title"] = "Search";
}


@foreach (var Product in Model)
{


    <div class="col-md-3">
        <div class="product-item">
            <img src="~/imagesweb/@Product.ImgId" alt="" />

            <div class="product-info">
                <a asp-controller="Quantities" asp-action="Add" asp-route-id="@Product.Id">@Product.ProductName</a>
                <p>$@Product.Price</p>
            </div>
        </div>
    </div>
}
